*{

padding: 0;
box-sizing: border-box;

 }
 .container{
    text-align: center;
    margin: auto;
}

.calculator{
    
    border: 2px solid rgb(85, 234, 11);
    border-radius: 3rem;
    background-color: rgb(25, 27, 27);
    display:inline-block;
    padding: 2rem 2rem;
    

}
input{
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 2rem;
    height: 10vh;
}
table{
    margin: auto;
}
button{
    background-color: bisque;
    border-radius: 20px;
    font-size: 2rem;
    height: 4.5rem;
    width: 5rem;
    cursor:default;
    
}
#h1{
    background-color:green;
    font-size: 40px;
}
#h2{
    background-color: red;
}
#h3{
    background-color: lightblue;
}
.hilight{
    background-color: rgb(173, 175, 173);
}
/*
@media screen and (max-width:768px) {
    
    .calculator{
        display: block;
        margin-top: 1rem;
        margin-right: 5rem;
        margin-left: 5rem;
        border: 2px solid rgb(85, 234, 11);
        border-radius: 3rem;
        background-color: rgb(22, 22, 22);
        display: inline-block;
        padding: 2rem 2rem;
    
    }
}

    @media screen and (max-width:155px) {
  
        .calculator{
            display:inline-block;
             margin: 1rem;
            border: 2px solid rgb(85, 234, 11);
            border-radius: 3rem;
            background-color:aqua
           
        
            
        
        }
       
    }*/

   
   
