.container{
    text-align: center;
}

.calculator{
    border: 2px solid rgb(85, 234, 11);
    border-radius: 30px;
    background-color: aqua;
    display: inline-block;
    padding: 20px 20px;
    

}
input{
    background-color:white;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
    height: 70px;
}
table{
    margin: auto;
}
button{
    background-color: rgb(179, 242, 84);
    border-radius: 20px;
    font-size: 30px;
    height: 90px;
    width: 90px;
    cursor:default;
    
}



